body {
    font: 15px arial, sans-serif;
    background-color:  #191919;
  }
  
  #bodybox {
    margin: auto;
    width: 70%;
    float:right;
    min-height: 70vh;
    font: 15px arial, sans-serif;
    padding-top: 20px;
    padding-bottom: 25px;
    padding-right: 25px;
    padding-left: 25px;
    overflow: hidden;
  }
  
  #chatborder {
    
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: -10px;
    padding-bottom: 10px;
    border-radius: 10px;
    min-height: 85vh;
    max-height: 85vh;
    overflow-y: scroll;
  }

  ::-webkit-scrollbar {
      display: none;
  }
  
  .chatlog {
     font: 15px arial, sans-serif;
  }
  
  #chatbox {
    font: 17px arial, sans-serif;
    height: 30px;
    width: 100%;
    border-radius: 10px;
  }

  #chatbox::placeholder {
      padding-left: 2%;
  }
  
  h1 {
    margin: auto;
  }

#connectionsList {
    width: 30%;
    margin-top: 2%;
    float:left;

}

a {
    text-decoration-line: none;
    color: white;
}

ul {
    list-style-type: none;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

ul li {
    border-radius: 20px;
    padding: 8px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
}

.yourMessages {
    color: white;
    margin-left: 65%;
    background: linear-gradient(to bottom, #464866 0%, #196329 100%);
    background-attachment: fixed;
    position: relative;
    align-items: flex-start;
    right: 5%;
    font-weight: 600;
}

.theirMessages {
    align-items: flex-end;
    color: rgb(0, 0, 0);
    margin-right: 65%;
    background: linear-gradient(to bottom, #e9e0e3 0%, #708ea1 100%);
    background-attachment: fixed;
    position: relative;
    left: -5%;
    font-weight: 600;
}

.userMatches {
    margin-bottom: 2%;
    padding-bottom: 15%;
    border-bottom: 1px solid white;
    background-color: #25274D;
    display: flex;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
    max-width: 300px;
    min-width: 250px;
    max-height: 100px;
    min-height: 80px;
}

.userMatches h3 {
    transform: translate(50%, 50%);
}

.userMatches:hover {
    position: relative;
  left: 8%;
  transition: 0.4s ease-out;
}

h3 {
    margin: 0;
    padding-top: 2%;
}

a:hover {
    text-decoration-line: none;
    color: white;
}

#submit {
    margin-top: 1%;
    float: right;
    border-radius: 20px;
    border-style: none;
    width: 90px;
    height: 20px;
    color: #3eb759;
}

#submit:hover {
    color: white;
    background-color: #7bcf8e;
}