@import url('https://fonts.googleapis.com/css2?family=Chau+Philomene+One:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');


body {
    background-color: #191919;
}

.for-font {
    font-family: 'Chau Philomene One', sans-serif;
}

.search-field-container {
    margin-right: 35%;
    margin-left: 35%;
    justify-content: center;
}

.search-bar {
    margin-right: 5px;
}

.btn-text {
    background-color: #3eb759;
    color: #fff;
    font-size: 1.25rem;
}

.btn-text:hover {
    background-color: #2e4d35;
    color: #fff;
}

::placeholder {
    font-size: 1.25rem;
}

#artistField {
    padding: 0.375rem 0.75rem;
    font-size: 1.25rem;
}

.description {
    text-align: center;
    font-size: 3em;
    color: #fff;
    margin-top: 200px;
    margin-bottom: 50px;
}

.or {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #fff;
    font-size: 3em;
}

.use-fav-artist-button {
    text-align: center;
}