@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

.bg-primary {
    background-color: #3eb759 !important;
}

.bg-primary h1 {
    font-size: 5em;
    margin-top: 10%;
}

.bg-primary p {
    margin: 30px;
}

.bg-secondary {
    background-color: #191919 !important;
    height: 100%;
}

#signUp {
    margin-top: 10%;
}

.text-primary {
    color: white !important;
    font-family: 'Acme', sans-serif;
}

#singingIcon {
    height: 50%;
    display: block;
    margin: auto;
    margin-top: 10%;
}

input[type=text]:focus {
    border: 3px solid black;
}

input[type=password]:focus {
    border: 3px solid black;
}

input[type=text], [type=password] {
    width: 100%;
    display: inline-block;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 3%;
}

#signUpButton {
    margin-top: 10px;
    border-radius: 12px;
    background-color: #3eb759;
    border: 2px solid black;
}

#signInButton {
    background-color: grey;
    border-radius: 12px;
    border: 2px solid black;
}